html {
  display: table;
  margin: 0;
  background-color: #aaa;
}
#wrapper {
  max-width: 1336px;
  font-family: arial;
}
body {
  margin: 0 auto;
}
h2 {
  padding-top: 10px;
}
h2,
h3,
h4 {
  color: #0066c0;
}
.box {
/*border: 1px solid black;*/
  box-shadow: 0 -1px 0 #e5e5e5, 0 4px 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24) !important;
  background-color: #ddd;
}
#home-link {
  text-decoration: none;
}
.home-bar {
  width: 50%;
  float: left;
  margin-bottom: 2%;
/*background-image: url("http://www.vectorizados.com/muestras/mini-fondo-oscuro-musical.jpg");
    background-size: contain;*/
}
.home-bar > h1 {
  font-family: 'Lobster';
  font-size: 80px;
  color: #0066c0;
  margin: 0;
}
#login-data {
  float: left;
  margin-left: 5%;
  margin-top: 0.5%;
}
.vertical-banner {
  width: 10%;
  height: 1000px;
  float: right;
  margin-top: 362px;
}
#releases {
  width: 88%;
  height: 220px;
  clear: left;
  padding-top: 100px;
}
.release {
  text-align: center;
  float: left;
  width: 30%;
  height: 200px;
  position: relative;
  margin-right: 1%;
  margin-top: 1%;
  margin-left: 1.8%;
}
.center-bottom-alignment {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
}
.centering-text {
  text-align: center;
  display: block;
}
.adjust-to-left {
  float: left;
  margin-top: 1%;
}
.play-triangles {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 26px solid #00f;
  border-bottom: 13px solid transparent;
  bottom: 12px;
  position: absolute;
  right: 0;
}
#content {
  width: 88%;
  height: 1000px;
  position: relative;
}
#left-content {
  float: left;
  width: 75%;
  height: 850px;
}
.bar-head {
  height: 30px;
}
.section {
  float: left;
  width: 45%;
  margin-top: 2%;
  margin-left: 3%;
  height: 250px;
}
#featured {
  clear: left;
}
#lasts-discs {
  height: 287px;
  margin-top: 45px;
}
.genre {
  float: left;
  width: 173px;
  font-size: 30px;
  color: #234893;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}
.genre:first-child {
  border-left: 1px solid #000;
  background-color: #aaa;
}
#cat-alone:hover,
.genre:hover {
  background-color: #aaa;
}
#cat-alone:active,
.genre:active {
  background-color: #222;
}
#cat-alone {
  border-bottom: 1px solid #000;
  width: 265px;
  margin-left: 8px;
  color: #234893;
}
.discs {
  float: left;
  width: 265px;
  height: 120px;
  margin-top: 3%;
}
.lasts-discs-form {
  margin-top: 4%;
  margin-left: 2%;
}
.center-data-disc {
  width: auto;
  margin-top: 10%;
  font-size: 14px;
  color: #0066c0;
  text-align: center;
}
.square {
  width: 92px;
  float: left;
  padding-top: 5%;
  padding-left: 5%;
}
.adjust-to-center-left {
  width: 54%;
  float: left;
  position: relative;
  margin-top: 3.5%;
  margin-left: 4%;
  height: 100%;
}
#right-content {
  float: right;
  width: 24%;
  height: 770px;
  margin-top: 40px;
}
.section.centering-text.bordering-black > h2 {
  margin-top: 0;
}
ul {
  list-style-type: none;
}
li {
  text-align: left;
  margin-bottom: 10px;
}
.references {
  text-align: left;
  text-decoration: none;
}
#featured-disc {
  margin-left: 67px;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
/*position: fixed;
    z-index: 999999;*/
}
.submenu-nav-bar {
  float: left;
  width: 110px;
  height: 73px;
  border-left: 1px solid #222;
}
.submenu-nav-bar:first-child {
  border-right: none;
}
.submenu-nav-bar a {
  display: block;
  color: #fff;
/* text-align: center; */
/* padding: 14px 16px; */
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  line-height: 73px;
}
/* Change the link color to #111 (black) on hover */
.submenu-nav-bar a:hover {
  background-color: #111;
}
#nav-bar-info {
  float: left;
  height: 73px;
}
#logo {
  font-size: 40px;
  width: 225px !important;
}
#search-box {
  width: 25%;
}
#search-box-form {
  line-height: 73px;
  text-align: center;
}
#search-box-form > span {
  position: absolute;
  padding-left: 15px;
}
#search-box-input {
  width: 250px;
  height: 40px;
  background: #2b303b;
  border: none;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#cart.submenu-nav-bar {
  width: 80px;
}
#cart.submenu-nav-bar a {
  padding-top: 6px;
}
header {
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.dropdown-container {
  display: none;
  position: absolute;
  background-color: #333;
  width: 10%;
}
.dropdown-box {
  margin: 0;
  padding: 0;
}
.dropdown-element {
  margin: 0;
  border-top: 1px solid #000;
  height: 40px;
}
.dropdown-element > a {
  line-height: 40px;
}
#genre-discs {
  width: 98.5%;
  height: 181px;
  background-color: #aaa;
  margin-top: 54px;
  border: 1px solid #000;
}
#cart-content {
  background: url("/images/cart.png") no-repeat center;
  width: 5%;
}
footer {
  margin-top: 130px;
  width: 100%;
  height: 80px;
  background-color: #222;
  text-align: center;
  padding: 20px;
}
footer #info li {
  display: inline-block;
}
footer #info li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
footer #copyright h5 {
  color: #fff;
  font-weight: bold;
}
/* product style */
#category #featured-category-disc {
  width: 97%;
  height: 180px;
}
#category #featured-category-disc img {
  width: 122px;
  height: 122px;
  padding: 3%;
  margin: 0;
}
#category #featured-category-disc .adjust-to-center-left {
  margin: 0;
  width: 73%;
}
#category #featured-category-disc .adjust-to-center-left .center-data-disc {
  font-size: 20px;
  margin: 0;
  padding-top: 7%;
}
#category #featured-category-disc .adjust-to-center-left .center-bottom-alignment {
  font-size: 20px;
}
#category #featured-category-disc .adjust-to-center-left .play-triangles {
  border-top: 20px solid transparent;
  border-left: 40px solid #00f;
  border-bottom: 20px solid transparent;
}
#category .category-disc {
  width: 47%;
  margin-top: 2%;
}
#category .category-disc img {
  padding: 3%;
  margin: 0;
}
#category .category-disc .adjust-to-center-left {
  width: 68%;
  margin: 0;
}
#category .category-disc .adjust-to-center-left .play-triangles,
#category .category-disc .adjust-to-center-left .center-bottom-alignment {
  bottom: 5px;
}
#category #article-section {
  width: 96%;
  height: 180px;
  float: left;
}
#category #article-section img {
  float: left;
  padding: 3%;
}
#category #article-section .adjust-to-center-left {
  width: 53%;
  padding-right: 19.5%;
}
#category #article-section .adjust-to-center-left .center-data-disc {
  margin: 0;
  padding-top: 7%;
  font-size: 44px;
}
#category #article-section,
#category #right-content {
  margin-top: 100px;
}
/* product style */
#product #featured-category-disc {
  width: 97%;
  height: 180px;
}
#product #featured-category-disc img {
  width: 122px;
  height: 122px;
  padding: 3%;
  margin: 0;
}
#product #featured-category-disc .adjust-to-center-left {
  margin: 0;
  width: 73%;
}
#product #featured-category-disc .adjust-to-center-left .center-data-disc {
  font-size: 20px;
  margin: 0;
  padding-top: 7%;
}
#product #featured-category-disc .adjust-to-center-left .center-bottom-alignment {
  font-size: 20px;
}
#product #featured-category-disc .adjust-to-center-left .play-triangles {
  border-top: 20px solid transparent;
  border-left: 40px solid #00f;
  border-bottom: 20px solid transparent;
}
#product .category-disc {
  width: 47%;
  margin-top: 2%;
}
#product .category-disc img {
  padding: 3%;
  margin: 0;
}
#product .category-disc .adjust-to-center-left {
  width: 68%;
  margin: 0;
}
#product .category-disc .adjust-to-center-left .play-triangles,
#product .category-disc .adjust-to-center-left .center-bottom-alignment {
  bottom: 5px;
}
#product #article-section {
  width: 96%;
  height: 180px;
  float: left;
}
#product #article-section img {
  float: left;
  padding: 3%;
}
#product #article-section .adjust-to-center-left {
  width: 53%;
  padding-right: 19.5%;
}
#product #article-section .adjust-to-center-left .center-data-disc {
  margin: 0;
  padding-top: 7%;
  font-size: 44px;
}
#category #right-content,
#product #right-content {
  margin-top: 27px;
}
#category aside.vertical-banner,
#product aside.vertical-banner,
#product #article-section {
  margin-top: 102px;
}
#product #product-data,
#product #product-name {
  width: 95%;
}
#product #product-name {
  margin-top: 3%;
  height: 110px;
  text-align: center;
  font-size: 40px;
  line-height: 105px;
}
#product #product-data {
  margin-top: 1%;
  height: 500px;
}
#product #product-data > h2 {
  margin-left: 9%;
}
#product #product-data #song-info,
#product #product-data #song-list {
  float: left;
  width: 47%;
}
#product #product-data .bottom-info {
  clear: both;
}
#product #product-data #song-list .select-song,
#product #product-data #song-list .sample-song {
  float: left;
  width: 10%;
}
#product #product-data #song-list .sample-song {
  width: 7%;
}
#product #product-data #song-list > div {
  margin-top: 5%;
}
#product #product-data #song-list > div:first-child {
  margin-top: 0;
}
#product #product-data #song-list .sample-song {
  width: 89%;
}
#product #product-data #song-info img {
  width: 240px;
  padding-left: 19%;
  text-align: center;
}
#product #product-data #song-info > div > div {
  display: inline-block;
}
#product #product-data #song-info > div {
  width: 100%;
  text-align: center;
  height: 30px;
}
#product #product-data #song-info > div > div > p {
  text-align: center;
  float: left;
  padding: 5px;
}
#genre-info {
  font-weight: bold;
}
.price {
  color: #f00;
  font-weight: bold;
}
#product #product-data #song-list {
  padding-top: 2%;
}
#product #product-data .bottom-info > div {
  float: left;
}
#product #product-data .bottom-info > div > p {
  display: inline-block;
  padding: 3px;
}
#product #product-data .bottom-info > button {
  float: right;
  margin: 3%;
}
