doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css")

    body
        block header
        if page == 'home'
            block home
        else if page == 'category'
            block category
        else if page == 'product'
            block product
        else if page == 'subs'
            block subs
        block footer
