doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Orbitron:700', rel='stylesheet', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="/javascripts/view.index.js")

    body
        block header
        if page == 'home'
            block home
        else if page == 'category'
            block category
        else if page == 'product'
            block product
        else if page == 'subs'
            block subs
        else if page == 'admin'
            block admin
        block footer
